
.metro input[type="button"],
.metro input[type="submit"],
.metro input[type="reset"] {
    text-align: center;
    padding: 20px;
    margin:40px,0;
    cursor: pointer;
    outline: none;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    width:500px;
    height:500px;
    background: #00CCFF;
    font:bold 17px Arial;
    border-radius:50%;
    border:none;
    color:#fff;
    transition: background 1s;
    -webkit-transition: box-shadow 1s;
}




.metro input[type="button"]:hover,
.metro input[type="submit"]:hover,
.metro input[type="reset"]:hover {

    text-shadow: 0px 3px 0px rgba( 0, 0, 0, 0.35);
    border-color: transparent;

    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px
        rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.8s;
    transition: background 1s;
}



.metro input[type="button"]:active,
.metro input[type="submit"]:active,
.metro input[type="reset"]:active {
    background-color: #e51400;
    color: #ffffff !important;
    border-color: transparent;
    -webkit-transition: box-shadow 0.8s;
    -webkit-transition: background 1s;
}

.metro input[type="submit"]:active{
    background-color: lime;
    color: #fff !important;
    -webkit-transition: box-shadow 0.8s;
    border-color: transparent;
    transition: background 1s;
 
}
.metro .example {
    padding: 20px 40px 20px 60px;
    width: 400px;
    margin: 20px auto;
    border: 1px #ccc solid;
    position: relative;
    background-color: #A80404 !important;
    min-height: 100px;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font:bold 17px Arial;

}
.metro .example:before,
.metro .example:after {
    display: table;
    content: "";
}
.metro .example:after {
    clear: both;
}
.metro .example:before {
    position: absolute;
    content: "Connexion";
    left: -23px;
    top: 30px;
    color: #999999 !important;
    margin: 20px 20px;
    font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 4rem;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    line-height: 1.4rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);



}

.metro .input-control.text .btn-clear,
.metro .input-control.password .btn-clear,
.metro .input-control.file .btn-clear,
.metro .input-control.email .btn-clear,
.metro .input-control.tel .btn-clear,
.metro .input-control.number .btn-clear,
.metro .input-control.text .btn-reveal,
.metro .input-control.password .btn-reveal,
.metro .input-control.file .btn-reveal,
.metro .input-control.email .btn-reveal,
.metro .input-control.tel .btn-reveal,
.metro .input-control.number .btn-reveal,
.metro .input-control.text .btn-date,
.metro .input-control.password .btn-date,
.metro .input-control.file .btn-date,
.metro .input-control.email .btn-date,
.metro .input-control.tel .btn-date,
.metro .input-control.number .btn-date,
.metro .input-control.text .btn-file,
.metro .input-control.password .btn-file,
.metro .input-control.file .btn-file,
.metro .input-control.email .btn-file,
.metro .input-control.tel .btn-file,
.metro .input-control.number .btn-file,
.metro .input-control.text .btn-search,
.metro .input-control.password .btn-search,
.metro .input-control.file .btn-search,
.metro .input-control.email .btn-search,
.metro .input-control.tel .btn-search,
.metro .input-control.number .btn-search {
    background-color: #F0F0F0;
    position: absolute;
    top: 5px;
    z-index: 2;
    border: 0;
    right: 4px;
    width: 24px;
    height: 24px;
    min-height: 1px;
    min-width: 1px;
    padding: 0;
    margin: 0;
    display: none;
}