h2{
    color: white;
}

.metro input[type="submit"],
.metro input[type="reset"],.metro input[type="button"]{
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 7px;
    margin: 20px 5px 5px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background: #404040;
    color: #FFF;
    border: 2px solid #F0F0F0;
    transition: all 0.5s;

}

.metro input[type="button"]:hover,
.metro input[type="submit"]:hover,
.metro input[type="reset"]:hover {


    transition: all 0.5s;
    background:#1e7cc4;
    cursor:pointer;
}





.metro .example {
    padding: 20px 40px 20px 60px;
    width: 400px;
    margin: 20px auto;
    color:white;
    border: 1px #ccc solid;
    position: relative;
    background-color: #404040 !important;
    min-height: 100px;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font:bold 17px Arial ;

}
.metro .example:before,
.metro .example:after {
    display: table;
    content: "";
}
.metro .example:after {
    clear: both;
}
.metro .example:before {
    position: absolute;
    content: "Connexion";
    left: -23px;
    top: 30px;
    color: #999999 !important;
    margin: 20px 20px;
    font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 4rem;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    line-height: 1.4rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);



}

.metro .input-control.text .btn-clear,
.metro .input-control.password .btn-clear,
.metro .input-control.file .btn-clear,
.metro .input-control.email .btn-clear,
.metro .input-control.tel .btn-clear,
.metro .input-control.number .btn-clear,
.metro .input-control.text .btn-reveal,
.metro .input-control.password .btn-reveal,
.metro .input-control.file .btn-reveal,
.metro .input-control.email .btn-reveal,
.metro .input-control.tel .btn-reveal,
.metro .input-control.number .btn-reveal,
.metro .input-control.text .btn-date,
.metro .input-control.password .btn-date,
.metro .input-control.file .btn-date,
.metro .input-control.email .btn-date,
.metro .input-control.tel .btn-date,
.metro .input-control.number .btn-date,
.metro .input-control.text .btn-file,
.metro .input-control.password .btn-file,
.metro .input-control.file .btn-file,
.metro .input-control.email .btn-file,
.metro .input-control.tel .btn-file,
.metro .input-control.number .btn-file,
.metro .input-control.text .btn-search,
.metro .input-control.password .btn-search,
.metro .input-control.file .btn-search,
.metro .input-control.email .btn-search,
.metro .input-control.tel .btn-search,
.metro .input-control.number .btn-search {
    background-color: #F0F0F0;
    position: absolute;
    top: 5px;
    z-index: 2;
    border: 0;
    right: 4px;
    width: 24px;
    height: 24px;
    min-height: 1px;
    min-width: 1px;
    padding: 0;
    margin: 0;
    display: none;
}
#notesWall {
    margin-left: 25%;
    margin-right: 25%;
    background: #FFFFFF;
    border: 1px solid #000000;
}
#header {
    background: #FFFFFF;
}
#container {
    background: #FFFFFF;
}
#newNotesWallBar{
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    background: #404040;
    color: #FFF;


}
#newNotesWallBar div{
    margin-left: 5px;
    height: 44px;
}
#newNotesWallBar input[type="text"]{
    width: 85%;
    margin-top: 2px;
    height: 36px;
}
#onglets
{
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    list-style-type : none;
    padding-bottom : 24px;
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}
#onglets li
{
    float : left;
    width: 20%;
    background-color: #F4F9FD;
    border : 1px solid #9EA0A1;
}
#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover
{
    background: #404040;
    color: rgb(255, 255, 255);
}

input[type="submit"]{
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    text-transform: uppercase;
    background: #404040;
    color: #FFF;
    border: 2px solid #404040;
    transition: all 0.5s;


}

input[type="submit"]:hover {
    transition: all 0.5s;
    background:#1e7cc4;
    cursor:pointer;
}
#note {
    list-style-type : none;
    border: 1px solid #404040;
    margin-left: 10%;
    margin-right: 10%;
    transition:all 0.5s;
}
#note:hover{
    -moz-box-shadow: 3px 3px 3px 3px #1e7cc4;
    -webkit-box-shadow: 3px 3px 3px 3px #1e7cc4;
    -o-box-shadow: 3px 3px 3px 3px #1e7cc4;
    box-shadow: 2px 2px 4px 4px #1e7cc4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}


textarea { 
    resize: none; 
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    padding: 40px;
    margin-left:20px;
    cursor:pointer;
    color:white;
    transition: all 0.5s;
 
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]#BtnBleu + label{ 
   background-image: none;
   background-color:#7ACAD1;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;
  
}
input[type=radio]#BtnRouge + label{ 
   background-image: none;
   background-color:#EF6F64;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;
  
}
input[type=radio]#BtnRose + label{ 
   background-image: none;
   background-color:#C97EA6;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;
 
}

input[type=radio]#BtnJaune + label{ 
   background-image: none;
   
   background-color:#EAD390;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;  
}

input[type=radio]#BtnBlanc + label{ 
   background-image: none;
   
   background-color:#FFFFFF;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;  
}


input[type=radio]#BtnBleu:checked + label{ 
   background-image: none;
   background-color:#A2DEFF;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;

    -moz-box-shadow: 3px 3px 3px 3px #1e7cc4;
    -webkit-box-shadow: 3px 3px 3px 3px #1e7cc4;
    -o-box-shadow: 3px 3px 3px 3px #1e7cc4;
    box-shadow: 2px 2px 4px 4px #1e7cc4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}

input[type=radio]#BtnRouge:checked + label{ 
   background-image: none;
   background-color:#EF6F64;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;

    -moz-box-shadow: 3px 3px 3px 3px #EA6F64;
    -webkit-box-shadow: 3px 3px 3px 3px #EA6F64;
    -o-box-shadow: 3px 3px 3px 3px #EA6F64;
    box-shadow: 2px 2px 4px 4px #EA6F64;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}

input[type=radio]#BtnRose:checked + label{ 
   background-image: none;
   background-color:#CBA0CC;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;
    
        -moz-box-shadow: 3px 3px 3px 3px #CBA0CC;
    -webkit-box-shadow: 3px 3px 3px 3px #CBA0CC;
    -o-box-shadow: 3px 3px 3px 3px #CBA0CC;
    box-shadow: 2px 2px 4px 4px #CB80CC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}

input[type=radio]#BtnBleu:checked + label{ 
   background-image: none;
   background-color:#A2DEFF;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;

    -moz-box-shadow: 3px 3px 3px 3px #1e7cc4;
    -webkit-box-shadow: 3px 3px 3px 3px #1e7cc4;
    -o-box-shadow: 3px 3px 3px 3px #1e7cc4;
    box-shadow: 2px 2px 4px 4px #1e7cc4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}
input[type=radio]#BtnJaune:checked + label{ 
   background-image: none;
   background-color:#CCCA34;
   cursor:pointer;
    padding: 40px;
    margin-left:20px;  
    -moz-box-shadow: 3px 3px 3px 3px #CCCA34;
    -webkit-box-shadow: 3px 3px 3px 3px #CCCA34;
    -o-box-shadow: 3px 3px 3px 3px #CCCA34;
    box-shadow: 2px 2px 4px 4px #CCAA34;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}
